<div class="col-10 offset-1" *ngIf="property != null">
  <div class="card-block">
    <div class="row">
      <div class="col-md-5">
        <h4 class="card-title">Kalender: {{property.address}}</h4>
      </div>
      <div class="col-md-3">
        <h5>{{ monthNames[viewDate.getMonth()] }}</h5>
      </div>
      <div class="col-md-4">
        <div class="btn-group float-right">
          <button class="btn btn-primary" (click)="decrement()" [disabled]="prevBtnDisabled">
            Vorherige
          </button>
          <button class="btn btn-secondary" (click)="today()">
            Heute
          </button>
          <button class="btn btn-primary" (click)="increment()" [disabled]="nextBtnDisabled">
            Nächste
          </button>
        </div>
      </div>
    </div>

    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      [dayModifier]="dayModifier"
      [locale]="locale"
      (eventClicked)="eventClicked($event)"
      (dayClicked)="dayClicked($event.day)">
    </mwl-calendar-month-view>
  </div>
</div>

<template #content let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">{{viewDate | date: 'dd-MM-yyyy'}}</h4>
  </div>
  <div class="modal-body">
      <div class="form-group row">
        <label for="fromTime" class="col-2 col-form-label">Von</label>
          <div class="col-10">
          <input id="fromTime" [(ngModel)]="start" class="form-control" type="time">
        </div>
      </div>
      <div class="form-group row">
        <label for="toTime" class="col-2 col-form-label">Bis</label>
          <div class="col-10">
          <input id="toTime" [(ngModel)]="end" class="form-control" type="time">
        </div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="addEvent()">Hinzufügen</button>
      <button type="button" class="btn btn-secondary" (click)="close()">Abbrechen</button>
  </div>
</template>
