<div class="col-10 offset-1">
  <div class="card-block">
    <div class="row">
      <div class="col-10">
        <h4 class="card-title">Objekte</h4>
      </div>
      <div class="col-2">
        <button class="btn btn-outline-primary float-right" (click)="open(content)" type="button" [disabled]="!auth.hasRole('AdminRole')">Hinzufügen</button>
      </div>
    </div>
    <table class="table table-hover" >
      <thead>
        <th>Adresse</th>
        <th>PLZ</th>
        <th>Ort</th>
        <th>Land</th>
        <th>Kalender</th>
        <th>Mieter</th>
      </thead>
      <tbody *ngIf="properties?.length > 0">
        <tr *ngFor='let property of properties' >
          <td><button class="btn-link" (click)="open(content, property.id)">{{property.address}}</button></td>
          <td>{{property.zipCode}}</td>
          <td>{{property.city}}</td>
          <td>{{property.country}}</td>
          <td><button [routerLink]="['/property-calendar', property.id]" type="link" class="btn btn-link" style="padding-left: 0px">Kalender</button>
          <td><button [routerLink]="['/property-tenants', property.id]" type="link" class="btn btn-link" style="padding-left: 0px" [disabled]="!auth.hasRole('AdminRole')">Mieter</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<template #content let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">Objekt hinzufügen</h4>
  </div>
  <div class="modal-body">
      <div class="form-group row">
        <label for="address" class="col-2 col-form-label">Adresse</label>
          <div class="col-10">
          <input id="address" [(ngModel)]="property.address" class="form-control" type="text">
        </div>
      </div>
      <div class="form-group row">
        <label for="zipCode" class="col-2 col-form-label">PLZ</label>
          <div class="col-10">
          <input id="zipCode" [(ngModel)]="property.zipCode" class="form-control" type="text">
        </div>
      </div>
      <div class="form-group row">
        <label for="city" class="col-2 col-form-label">Ort</label>
          <div class="col-10">
          <input id="city" [(ngModel)]="property.city" class="form-control" type="text">
        </div>
      </div>
      <div class="form-group row">
        <label for="country" class="col-2 col-form-label">Land</label>
          <div class="col-10">
          <input id="country" [(ngModel)]="property.country" class="form-control" type="text">
        </div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="saveProperty()">Hinzufügen</button>
      <button type="button" class="btn btn-secondary" (click)="close()">Abbrechen</button>
  </div>
</template>
